## Random Forest & GBM Development for Energy Consumption
### John Matune
### 2/5/19

In [ ]:
# imports

import pandas as pd
import numpy as np
from sklearn.ensemble import RandomForestRegressor, GradientBoostingRegressor, AdaBoostRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error

In [89]:
df = pd.read_csv('../processed/consumption_master_with_SF.csv')

## i guess i have to bring in consumption weather and join it to the consumption dataset

c_weather = pd.read_csv('../raw/powercity_weather_consumption.csv')
c_weather.head().T

,0,1,2,3,4
City,Power City,Power City,Power City,Power City,Power City
Year,Consumption,Consumption,Consumption,Consumption,Consumption
Month,1,1,1,1,1
Day,1,1,1,1,1
Hour,1,2,3,4,5
Cloud_Cover_Fraction,1,1,1,1,1
Dew_Point,-8.9,-9.4,-10.6,-10.6,-11.7
Humidity_Fraction,0.81,0.84,0.81,0.81,0.77
Precipitable_Water,6,6,6,6,6
Temperature,-6.1,-7.2,-7.8,-7.8,-8.3
Visibility,4,4,4,4,4

In [90]:
# create datetime index to join both tables
c_weather['Hour_str'] = [str(x-1) if len(str(x-1))==2 else '0'+str(x-1) for x in c_weather['Hour']]
c_weather['datetime_str'] = ['1900-'+str(x)+'-'+str(y)+' '+str(z)+':00:00' for x, y, z in zip(c_weather.Month, c_weather.Day, c_weather.Hour_str)]
c_weather['datetime'] = pd.to_datetime(c_weather.datetime_str, infer_datetime_format=True)

c_weather.head()

# set new index
#c_weather.set_index()

,City,Year,Month,Day,Hour,Cloud_Cover_Fraction,Dew_Point,Humidity_Fraction,Precipitable_Water,Temperature,Visibility,Hour_str,datetime_str,datetime
0,Power City,Consumption,1,1,1,1.0,-8.9,0.81,6,-6.1,4.0,00,1900-1-1 00:00:00,1900-01-01 00:00:00
1,Power City,Consumption,1,1,2,1.0,-9.4,0.84,6,-7.2,4.0,01,1900-1-1 01:00:00,1900-01-01 01:00:00
2,Power City,Consumption,1,1,3,1.0,-10.6,0.81,6,-7.8,4.0,02,1900-1-1 02:00:00,1900-01-01 02:00:00
3,Power City,Consumption,1,1,4,1.0,-10.6,0.81,6,-7.8,4.0,03,1900-1-1 03:00:00,1900-01-01 03:00:00
4,Power City,Consumption,1,1,5,1.0,-11.7,0.77,6,-8.3,4.0,04,1900-1-1 04:00:00,1900-01-01 04:00:00

In [91]:
c_weather.dtypes

City                            object
Year                            object
Month                            int64
Day                              int64
Hour                             int64
Cloud_Cover_Fraction           float64
Dew_Point                      float64
Humidity_Fraction              float64
Precipitable_Water               int64
Temperature                    float64
Visibility                     float64
Hour_str                        object
datetime_str                    object
datetime                datetime64[ns]
dtype: object

In [92]:
c_weather = c_weather.set_index(pd.DatetimeIndex(c_weather['datetime']))

In [93]:
c_weather.drop(['datetime', 'datetime_str', 'Hour_str', 'Year', 'City'], axis=1, inplace=True)
c_weather.head()

,Month,Day,Hour,Cloud_Cover_Fraction,Dew_Point,Humidity_Fraction,Precipitable_Water,Temperature,Visibility
datetime,,,,,,,,,
1900-01-01 00:00:00,1,1,1,1.0,-8.9,0.81,6,-6.1,4.0
1900-01-01 01:00:00,1,1,2,1.0,-9.4,0.84,6,-7.2,4.0
1900-01-01 02:00:00,1,1,3,1.0,-10.6,0.81,6,-7.8,4.0
1900-01-01 03:00:00,1,1,4,1.0,-10.6,0.81,6,-7.8,4.0
1900-01-01 04:00:00,1,1,5,1.0,-11.7,0.77,6,-8.3,4.0

In [94]:
for field in ['Month', 'Day', 'Hour']:
    c_weather[field] = c_weather[field].astype(str)

c_weather.dtypes

Month                    object
Day                      object
Hour                     object
Cloud_Cover_Fraction    float64
Dew_Point               float64
Humidity_Fraction       float64
Precipitable_Water        int64
Temperature             float64
Visibility              float64
dtype: object

In [95]:
# join to main consumption data
df = df.set_index(pd.DatetimeIndex(df['Time']))
df.drop('Time', inplace=True, axis=1)
df.dtypes
df.head(25)

,FOOD_SERVICE,GROCERY,HEALTH_CARE,K12_SCHOOLS,LODGING,OFFICE,RESIDENTIAL,STAND_ALONE_RETAIL,Weekdays,HolidayName,...,RESIDENTIAL_SF,SA_RTL_SF,FOOD_SVC_TOTAL,GROCERY_TOTAL,HEALTH_CARE_TOTAL,K12_TOTAL,LODGING_TOTAL,OFFICE_TOTAL,RESIDENTIAL_TOTAL,SA_RTL_TOTAL
Time,,,,,,,,,,,,,,,,,,,,,
1900-01-01 01:00:00,0.005416,0.002030,0.002390,0.000818,0.001209,0.001911,0.000541,0.000491,Sun,New Year's Day,...,8.482341e+07,971961.735665,5240.358908,1096.297148,2307.216574,1984.355690,1125.486086,19108.976855,45875.739073,477.001885
1900-01-01 02:00:00,0.003789,0.002032,0.002443,0.000815,0.001215,0.001664,0.000523,0.000499,Sun,New Year's Day,...,8.482341e+07,971961.735665,3666.285758,1097.042106,2358.377936,1977.208735,1131.096791,16635.496277,44355.771468,485.313908
1900-01-01 03:00:00,0.003797,0.001977,0.002413,0.000824,0.001149,0.002005,0.000517,0.000505,Sun,New Year's Day,...,8.482341e+07,971961.735665,3673.960332,1067.347195,2329.567788,1998.867496,1069.825145,20052.796510,43877.825496,490.808116
1900-01-01 04:00:00,0.003802,0.002068,0.002406,0.000817,0.001164,0.001697,0.000514,0.000507,Sun,New Year's Day,...,8.482341e+07,971961.735665,3678.382266,1116.774474,2322.396505,1982.546991,1083.443560,16970.896270,43589.612521,492.574948
1900-01-01 05:00:00,0.003861,0.002176,0.002428,0.000825,0.001211,0.002016,0.000575,0.000510,Sun,New Year's Day,...,8.482341e+07,971961.735665,3736.219406,1175.213337,2344.384257,2001.978486,1127.795007,20161.026603,48802.994869,495.828201
1900-01-01 06:00:00,0.005475,0.002133,0.002428,0.000819,0.001317,0.001707,0.000708,0.000512,Sun,New Year's Day,...,8.482341e+07,971961.735665,5297.753197,1151.933455,2344.087307,1988.044910,1226.523277,17068.217656,60068.578241,497.266218
1900-01-01 07:00:00,0.011265,0.002751,0.002672,0.000825,0.001738,0.002039,0.000863,0.000515,Sun,New Year's Day,...,8.482341e+07,971961.735665,10899.968385,1485.322602,2579.123223,2002.441701,1618.414467,20389.164477,73170.902234,500.855187
1900-01-01 08:00:00,0.011246,0.002952,0.002654,0.000811,0.002038,0.001738,0.000944,0.000517,Sun,New Year's Day,...,8.482341e+07,971961.735665,10880.914457,1594.136249,2562.145474,1968.781085,1897.651049,17378.428326,80086.079642,502.612688
1900-01-01 09:00:00,0.008233,0.003439,0.002884,0.000731,0.002322,0.001860,0.000753,0.000943,Sun,New Year's Day,...,8.482341e+07,971961.735665,7966.313362,1857.060615,2784.451095,1774.689619,2162.337995,18595.182652,63836.561241,916.235282
1900-01-01 10:00:00,0.008237,0.002828,0.002837,0.000692,0.002067,0.001434,0.000643,0.000866,Sun,New Year's Day,...,8.482341e+07,971961.735665,7969.918967,1526.801630,2738.780685,1679.071020,1924.445127,14339.313937,54558.975590,842.013270
1900-01-01 11:00:00,0.010235,0.003597,0.002860,0.000707,0.001621,0.001685,0.000555,0.001459,Sun,New Year's Day,...,8.482341e+07,971961.735665,9902.651682,1942.218337,2761.213281,1715.231638,1509.786992,16848.735550,47093.438465,1418.570766
1900-01-01 12:00:00,0.010697,0.004297,0.002912,0.000702,0.001585,0.001380,0.000559,0.001458,Sun,New Year's Day,...,8.482341e+07,971961.735665,10349.878031,2320.094908,2811.527431,1704.151845,1475.747054,13803.341330,47421.560853,1416.799949
1900-01-01 13:00:00,0.010322,0.004455,0.002935,0.000698,0.001579,0.001632,0.000553,0.001855,Sun,New Year's Day,...,8.482341e+07,971961.735665,9986.856038,2405.549458,2833.625524,1694.827853,1470.383099,16318.779782,46874.526215,1803.231621
1900-01-01 14:00:00,0.010242,0.004391,0.002901,0.000692,0.001574,0.001313,0.000539,0.001853,Sun,New Year's Day,...,8.482341e+07,971961.735665,9909.516313,2371.272645,2800.755302,1680.296150,1465.848966,13128.165461,45716.500090,1800.624723
1900-01-01 15:00:00,0.008243,0.004308,0.002880,0.000693,0.001567,0.001553,0.000534,0.001849,Sun,New Year's Day,...,8.482341e+07,971961.735665,7975.504100,2325.996308,2779.952258,1682.217194,1458.958517,15533.298875,45274.629513,1797.156958
1900-01-01 16:00:00,0.008237,0.004231,0.002891,0.000690,0.001555,0.001277,0.000573,0.001848,Sun,New Year's Day,...,8.482341e+07,971961.735665,7970.043105,2284.832899,2790.620802,1674.550245,1448.075201,12774.000972,48615.484244,1796.568240
1900-01-01 17:00:00,0.008205,0.004231,0.002772,0.000700,0.001647,0.001603,0.000792,0.001851,Sun,New Year's Day,...,8.482341e+07,971961.735665,7938.830358,2284.882092,2675.989073,1698.258653,1533.187290,16028.951565,67145.717464,1798.985898
1900-01-01 18:00:00,0.011218,0.003901,0.002597,0.000809,0.001968,0.001678,0.001162,0.001761,Sun,New Year's Day,...,8.482341e+07,971961.735665,10854.241783,2106.309580,2507.364345,1963.556146,1832.400875,16783.151312,98552.797095,1711.855749
1900-01-01 19:00:00,0.011219,0.004046,0.002451,0.000824,0.002220,0.002051,0.001226,0.001363,Sun,New Year's Day,...,8.482341e+07,971961.735665,10854.856279,2184.982669,2366.309355,1999.327071,2066.868491,20513.515138,103982.733602,1324.500033
1900-01-01 20:00:00,0.011275,0.003599,0.002435,0.000811,0.002173,0.001743,0.001197,0.000481,Sun,New Year's Day,...,8.482341e+07,971961.735665,10909.419202,1943.624987,2350.452792,1967.653014,2023.121812,17429.228962,101560.465481,467.599030
1900-01-01 21:00:00,0.009271,0.003403,0.002339,0.000827,0.002242,0.002075,0.001184,0.000496,Sun,New Year's Day,...,8.482341e+07,971961.735665,8969.969118,1837.706233,2258.231551,2007.772920,2087.522890,20747.600852,100411.778413,482.388692
1900-01-01 22:00:00,0.009245,0.003091,0.002357,0.000815,0.002180,0.001738,0.001023,0.000505,Sun,New Year's Day,...,8.482341e+07,971961.735665,8945.535374,1668.851006,2275.590526,1978.450122,2029.445854,17375.646401,86754.132536,491.036818
1900-01-01 23:00:00,0.009204,0.001700,0.002319,0.000827,0.001770,0.002073,0.000821,0.000512,Sun,New Year's Day,...,8.482341e+07,971961.735665,8905.388969,918.042686,2239.057480,2006.621070,1647.656669,20732.076269,69674.328691,497.582592
1900-01-02 00:00:00,0.009686,0.002694,0.002315,0.000824,0.001354,0.001744,0.000651,0.000514,Mon,FALSE,...,8.482341e+07,971961.735665,9371.359338,1454.696655,2234.404279,2000.163721,1260.328849,17442.229613,55243.339324,499.150366
1900-01-02 01:00:00,0.005496,0.002239,0.002261,0.000829,0.001239,0.002156,0.000547,0.000521,Mon,FALSE,...,8.482341e+07,971961.735665,5317.223465,1209.213464,2182.561073,2011.760840,1153.993069,21556.990117,46414.537358,506.349881

In [96]:
model_df = df.merge(c_weather, left_index=True, right_index=True, how='inner')
model_df.head().T

,1900-01-01 01:00:00,1900-01-01 02:00:00,1900-01-01 03:00:00,1900-01-01 04:00:00,1900-01-01 05:00:00
FOOD_SERVICE,0.00541607,0.00378922,0.00379715,0.00380172,0.00386149
GROCERY,0.00203025,0.00203163,0.00197664,0.00206817,0.0021764
HEALTH_CARE,0.00238997,0.00244297,0.00241312,0.0024057,0.00242847
K12_SCHOOLS,0.000817792,0.000814846,0.000823773,0.000817046,0.000825055
LODGING,0.00120873,0.00121476,0.00114895,0.00116358,0.00121121
OFFICE,0.00191095,0.00166359,0.00200533,0.00169714,0.00201616
RESIDENTIAL,0.000540838,0.000522919,0.000517284,0.000513887,0.000575348
STAND_ALONE_RETAIL,0.000490762,0.000499314,0.000504966,0.000506784,0.000510131
Weekdays,Sun,Sun,Sun,Sun,Sun
HolidayName,New Year's Day,New Year's Day,New Year's Day,New Year's Day,New Year's Day
School_Day,0,0,0,0,0
Workday,False,False,False,False,False
ELECTRIC_CAR,22597.7,22597.7,22597.7,22597.7,22597.7
FOOD_SVC_SF,967558,967558,967558,967558,967558
GROCERY_SF,539981,539981,539981,539981,539981
HEALTH_CARE_SF,965374,965374,965374,965374,965374
K12_SF,2.42648e+06,2.42648e+06,2.42648e+06,2.42648e+06,2.42648e+06
LODGING_SF,931129,931129,931129,931129,931129
OFFICE_SF,9.99973e+06,9.99973e+06,9.99973e+06,9.99973e+06,9.99973e+06
RESIDENTIAL_SF,8.48234e+07,8.48234e+07,8.48234e+07,8.48234e+07,8.48234e+07
SA_RTL_SF,971962,971962,971962,971962,971962
FOOD_SVC_TOTAL,5240.36,3666.29,3673.96,3678.38,3736.22
GROCERY_TOTAL,1096.3,1097.04,1067.35,1116.77,1175.21
HEALTH_CARE_TOTAL,2307.22,2358.38,2329.57,2322.4,2344.38
K12_TOTAL,1984.36,1977.21,1998.87,1982.55,2001.98
LODGING_TOTAL,1125.49,1131.1,1069.83,1083.44,1127.8
OFFICE_TOTAL,19109,16635.5,20052.8,16970.9,20161
RESIDENTIAL_TOTAL,45875.7,44355.8,43877.8,43589.6,48803
SA_RTL_TOTAL,477.002,485.314,490.808,492.575,495.828
Month,1,1,1,1,1
Day,1,1,1,1,1
Hour,2,3,4,5,6
Cloud_Cover_Fraction,1,1,1,1,1
Dew_Point,-9.4,-10.6,-10.6,-11.7,-12.2
Humidity_Fraction,0.84,0.81,0.81,0.77,0.74
Precipitable_Water,6,6,6,6,5
Temperature,-7.2,-7.8,-7.8,-8.3,-8.3
Visibility,4,4,4,4,4

In [97]:
model_df['Total_Consumption'] = df.FOOD_SVC_TOTAL + df.GROCERY_TOTAL + df.HEALTH_CARE_TOTAL + df.K12_TOTAL + df.LODGING_TOTAL + df.OFFICE_TOTAL + df.RESIDENTIAL_TOTAL + df.SA_RTL_TOTAL

In [98]:
model_df.head()

,FOOD_SERVICE,GROCERY,HEALTH_CARE,K12_SCHOOLS,LODGING,OFFICE,RESIDENTIAL,STAND_ALONE_RETAIL,Weekdays,HolidayName,...,Month,Day,Hour,Cloud_Cover_Fraction,Dew_Point,Humidity_Fraction,Precipitable_Water,Temperature,Visibility,Total_Consumption
1900-01-01 01:00:00,0.005416,0.002030,0.002390,0.000818,0.001209,0.001911,0.000541,0.000491,Sun,New Year's Day,...,1,1,2,1.0,-9.4,0.84,6,-7.2,4.0,77215.432220
1900-01-01 02:00:00,0.003789,0.002032,0.002443,0.000815,0.001215,0.001664,0.000523,0.000499,Sun,New Year's Day,...,1,1,3,1.0,-10.6,0.81,6,-7.8,4.0,71706.592979
1900-01-01 03:00:00,0.003797,0.001977,0.002413,0.000824,0.001149,0.002005,0.000517,0.000505,Sun,New Year's Day,...,1,1,4,1.0,-10.6,0.81,6,-7.8,4.0,74560.998077
1900-01-01 04:00:00,0.003802,0.002068,0.002406,0.000817,0.001164,0.001697,0.000514,0.000507,Sun,New Year's Day,...,1,1,5,1.0,-11.7,0.77,6,-8.3,4.0,71236.627536
1900-01-01 05:00:00,0.003861,0.002176,0.002428,0.000825,0.001211,0.002016,0.000575,0.000510,Sun,New Year's Day,...,1,1,6,1.0,-12.2,0.74,5,-8.3,4.0,79845.440165

In [99]:
columns_to_drop = ['FOOD_SERVICE', 
                   'GROCERY', 
                   'HEALTH_CARE', 
                   'K12_SCHOOLS',
                   'LODGING',
                   'OFFICE',
                   'RESIDENTIAL',
                   'STAND_ALONE_RETAIL',
                   'FOOD_SVC_TOTAL',
                   'GROCERY_TOTAL',
                   'HEALTH_CARE_TOTAL',
                   'K12_TOTAL',
                   'LODGING_TOTAL',
                   'OFFICE_TOTAL',
                   'RESIDENTIAL_TOTAL',
                   'SA_RTL_TOTAL',
                   'ELECTRIC_CAR']
                   
model_df.drop(columns_to_drop, inplace=True, axis=1)

In [100]:
# convert school day boolean to string
model_df.School_Day = model_df.School_Day.astype(str)
model_df.dtypes

Weekdays                 object
HolidayName              object
School_Day               object
Workday                  object
FOOD_SVC_SF             float64
GROCERY_SF              float64
HEALTH_CARE_SF          float64
K12_SF                  float64
LODGING_SF              float64
OFFICE_SF               float64
RESIDENTIAL_SF          float64
SA_RTL_SF               float64
Month                    object
Day                      object
Hour                     object
Cloud_Cover_Fraction    float64
Dew_Point               float64
Humidity_Fraction       float64
Precipitable_Water        int64
Temperature             float64
Visibility              float64
Total_Consumption       float64
dtype: object

In [101]:
model_df_dummies = pd.get_dummies(model_df)
model_df_dummies.head().T

,1900-01-01 01:00:00,1900-01-01 02:00:00,1900-01-01 03:00:00,1900-01-01 04:00:00,1900-01-01 05:00:00
FOOD_SVC_SF,9.675581e+05,9.675581e+05,9.675581e+05,9.675581e+05,9.675581e+05
GROCERY_SF,5.399811e+05,5.399811e+05,5.399811e+05,5.399811e+05,5.399811e+05
HEALTH_CARE_SF,9.653743e+05,9.653743e+05,9.653743e+05,9.653743e+05,9.653743e+05
K12_SF,2.426480e+06,2.426480e+06,2.426480e+06,2.426480e+06,2.426480e+06
LODGING_SF,9.311291e+05,9.311291e+05,9.311291e+05,9.311291e+05,9.311291e+05
OFFICE_SF,9.999731e+06,9.999731e+06,9.999731e+06,9.999731e+06,9.999731e+06
RESIDENTIAL_SF,8.482341e+07,8.482341e+07,8.482341e+07,8.482341e+07,8.482341e+07
SA_RTL_SF,9.719617e+05,9.719617e+05,9.719617e+05,9.719617e+05,9.719617e+05
Cloud_Cover_Fraction,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
Dew_Point,-9.400000e+00,-1.060000e+01,-1.060000e+01,-1.170000e+01,-1.220000e+01
Humidity_Fraction,8.400000e-01,8.100000e-01,8.100000e-01,7.700000e-01,7.400000e-01
Precipitable_Water,6.000000e+00,6.000000e+00,6.000000e+00,6.000000e+00,5.000000e+00
Temperature,-7.200000e+00,-7.800000e+00,-7.800000e+00,-8.300000e+00,-8.300000e+00
Visibility,4.000000e+00,4.000000e+00,4.000000e+00,4.000000e+00,4.000000e+00
Total_Consumption,7.721543e+04,7.170659e+04,7.456100e+04,7.123663e+04,7.984544e+04
Weekdays_Fri,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
Weekdays_Mon,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
Weekdays_Sat,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
Weekdays_Sun,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
Weekdays_Thu,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
Weekdays_Tue,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
Weekdays_Wed,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
HolidayName_Christmas,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
HolidayName_Columbus Day,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
HolidayName_Easter,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
HolidayName_FALSE,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
HolidayName_Independence Day,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
HolidayName_Labor Day,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
HolidayName_Martin Luther King Day,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
HolidayName_Memorial Day,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
...,...,...,...,...,...
Day_4,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
Day_5,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
Day_6,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
Day_7,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
Day_8,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
Day_9,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
Hour_1,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
Hour_10,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
Hour_11,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
Hour_12,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
Hour_13,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
Hour_14,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
Hour_15,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
Hour_16,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
Hour_17,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
Hour_18,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
Hour_19,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
Hour_2,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
Hour_20,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
Hour_21,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
Hour_22,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
Hour_23,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
Hour_24,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
Hour_3,0.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
Hour_4,0.000000e+00,0.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00
Hour_5,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,0.000000e+00
Hour_6,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00
Hour_7,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
Hour_8,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
Hour_9,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00

In [103]:
list(model_df_dummies)

['FOOD_SVC_SF',
 'GROCERY_SF',
 'HEALTH_CARE_SF',
 'K12_SF',
 'LODGING_SF',
 'OFFICE_SF',
 'RESIDENTIAL_SF',
 'SA_RTL_SF',
 'Cloud_Cover_Fraction',
 'Dew_Point',
 'Humidity_Fraction',
 'Precipitable_Water',
 'Temperature',
 'Visibility',
 'Total_Consumption',
 'Weekdays_Fri',
 'Weekdays_Mon',
 'Weekdays_Sat',
 'Weekdays_Sun',
 'Weekdays_Thu',
 'Weekdays_Tue',
 'Weekdays_Wed',
 'HolidayName_Christmas',
 'HolidayName_Columbus Day',
 'HolidayName_Easter',
 'HolidayName_FALSE',
 'HolidayName_Independence Day',
 'HolidayName_Labor Day',
 'HolidayName_Martin Luther King Day',
 'HolidayName_Memorial Day',
 "HolidayName_New Year's Day",
 "HolidayName_Presidents' Day",
 'HolidayName_Thanksgiving Day',
 'HolidayName_Veterans Day',
 'School_Day_0.0',
 'School_Day_1.0',
 'Workday_False',
 'Workday_True',
 'Month_1',
 'Month_10',
 'Month_11',
 'Month_12',
 'Month_2',
 'Month_3',
 'Month_4',
 'Month_5',
 'Month_6',
 'Month_7',
 'Month_8',
 'Month_9',
 'Day_1',
 'Day_10',
 'Day_11',
 'Day_12',
 'Day_13',
 'Day_14',
 'Day_15',
 'Day_16',
 'Day_17',
 'Day_18',
 'Day_19',
 'Day_2',
 'Day_20',
 'Day_21',
 'Day_22',
 'Day_23',
 'Day_24',
 'Day_25',
 'Day_26',
 'Day_27',
 'Day_28',
 'Day_29',
 'Day_3',
 'Day_30',
 'Day_31',
 'Day_4',
 'Day_5',
 'Day_6',
 'Day_7',
 'Day_8',
 'Day_9',
 'Hour_1',
 'Hour_10',
 'Hour_11',
 'Hour_12',
 'Hour_13',
 'Hour_14',
 'Hour_15',
 'Hour_16',
 'Hour_17',
 'Hour_18',
 'Hour_19',
 'Hour_2',
 'Hour_20',
 'Hour_21',
 'Hour_22',
 'Hour_23',
 'Hour_24',
 'Hour_3',
 'Hour_4',
 'Hour_5',
 'Hour_6',
 'Hour_7',
 'Hour_8',
 'Hour_9']

In [105]:
X = model_df_dummies.drop('Total_Consumption', axis=1)
y = model_df_dummies['Total_Consumption']

print(X.shape)
print(y.shape)

(8759, 104)
(8759,)

In [108]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=10)

In [119]:
rf = RandomForestRegressor(bootstrap=True, 
                           criterion='mse', 
                           max_depth=10, 
                           max_features=30, 
                           n_estimators=150)

model = rf.fit(X_train, y_train)

In [120]:
rf.score(X_train, y_train)

0.8519485890450424

In [121]:
rf.score(X_test, y_test)

0.8223348830376203